<% include partials/header%>
<h1>Catchment: <%=stnum %></h1>
<table id="flowTable">
<thead>
    <tr>
        <th>Date</th>
        <th>Flow (cumecs)</th>
    </tr>
</thead>
<tbody>
<% station.forEach(function(item){ %>
<tr>
<td><%=item.mon_date.toDateString() %></td> 
<td><%=item.flow %></td>
</tr>
<% }); %>
</tbody>
</table>
<% include partials/footer%>